:root,
[data-theme="dark"] {
  --btcc-bg-primary: #0c0f12;
  --btcc-bg-secondary: #000000;
  --btcc-bg-other: #2c3642;
  --btcc-bg-modal: #13171b;
  --btcc-bg-card: #13171b;
  --btcc-bg-mask: rgb(0 0 0 / 60%);
  --btcc-bg-tips: #f1f3f5;
  --btcc-bg-toast: #212830;
  --btcc-text-primary: #f1f3f5;
  --btcc-text-secondary: #878f99;
  --btcc-text-tertiary: #444d59;
  --btcc-text-white: #ffffff;
  --btcc-text-black: #000000;
  --btcc-text-disabled: #3e4a59;
  --btcc-text-on-base-button: #000000;
  --btcc-text-anti: #ffffff;
  --btcc-text-tips: #13161c;
  --btcc-divider-primary: #212830;
  --btcc-divider-container: #2c3642;
  --btcc-border-primary: #3e4a59;
  --btcc-fill-input: #1a1f24;
  --btcc-fill-input-disabled: #212830;
  --btcc-fill-tag: #1a1f24;
  --btcc-fill-switch: #1a1f24;
  --btcc-fill-primary-container: #1a1f24;
  --btcc-fill-secondary-container: #444d59;
  --btcc-brand: #0c73ed;
  --btcc-brand-pressed: #0b6adb;
  --btcc-brand-alert: rgb(12 115 237 / 20%);
  --btcc-success: #2ca85d;
  --btcc-success-pressed: #1b8248;
  --btcc-success-alert: rgb(44 168 93 / 20%);
  --btcc-error: #eb464f;
  --btcc-error-pressed: #c4313d;
  --btcc-error-alert: rgb(235 70 79 / 20%);
  --btcc-warning: #e0601f;
  --btcc-warning-alert: rgb(224 96 31 / 20%);
  --btcc-check: #f0b848;
  --btcc-check-alert: rgb(240 184 72 / 20%);
  --btcc-button-brand-bg: #0c73ed;
  --btcc-button-brand-bg-pressed: #0b6adb;
  --btcc-button-brand-bg-disabled: #202738;
  --btcc-button-secondary-bg: #212830;
  --btcc-button-secondary-bg-pressed: #1a1f24;
}

[data-theme="light"] {
  --btcc-bg-primary: #ffffff;
  --btcc-bg-secondary: #f1f2f5;
  --btcc-bg-other: #ffffff;
  --btcc-bg-modal: #ffffff;
  --btcc-bg-card: #f1f2f5;
  --btcc-bg-mask: rgb(0 0 0 / 60%);
  --btcc-bg-tips: #13161c;
  --btcc-bg-toast: #40485b;
  --btcc-text-primary: #13161c;
  --btcc-text-secondary: #717c95;
  --btcc-text-tertiary: #a6aec1;
  --btcc-text-white: #ffffff;
  --btcc-text-black: #000000;
  --btcc-text-disabled: #959dad;
  --btcc-text-on-base-button: #f1f2f5;
  --btcc-text-anti: #000000;
  --btcc-text-tips: #f1f3f5;
  --btcc-divider-primary: #f1f2f5;
  --btcc-divider-container: #dbdee6;
  --btcc-border-primary: #dbdee6;
  --btcc-fill-input: #f1f2f5;
  --btcc-fill-input-disabled: #e4e6eb;
  --btcc-fill-tag: #f1f2f5;
  --btcc-fill-switch: #dbdee6;
  --btcc-fill-primary-container: #f1f2f5;
  --btcc-fill-secondary-container: #dbdee6;
  --btcc-brand: #195eff;
  --btcc-brand-pressed: #1858f0;
  --btcc-brand-alert: rgb(25 94 255 / 20%);
  --btcc-success: #2ca85d;
  --btcc-success-pressed: #299c56;
  --btcc-success-alert: rgb(44 168 93 / 20%);
  --btcc-error: #eb464f;
  --btcc-error-pressed: #e0434b;
  --btcc-error-alert: rgb(235 70 79 / 20%);
  --btcc-warning: #e0601f;
  --btcc-warning-alert: rgb(224 96 31 / 20%);
  --btcc-check: #f0b848;
  --btcc-check-alert: rgb(240 184 72 / 20%);
  --btcc-button-brand-bg: #195eff;
  --btcc-button-brand-bg-pressed: #1858f0;
  --btcc-button-brand-bg-disabled: #e1e6f1;
  --btcc-button-secondary-bg: #e4e6eb;
  --btcc-button-secondary-bg-pressed: #f1f2f5;
}
